@page "/"

<PageTitle>Home</PageTitle>

<p>You can use this app to generate nice <a href="https://en.wikipedia.org/wiki/Sankey_diagram">Sankey</a> diagrams that reflect monthly income and expenses from your bank's transaction history CSV exports.</p>
<p>Load CSV files containing any number of transactions and see them in the <b>Data</b> section. No data is sent to the server, everything is kept in local browser storage.</p>
<p>See monthly diagrams of your income end expenses in the <b>Diagrams</b> section.</p>

<p>
    <a href="https://www.flaticon.com/free-icons/sankey" title="sankey icons">Sankey icons created by Pericon - Flaticon</a>
</p>