@page "/diagrams"
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject Blazored.LocalStorage.ILocalStorageService Storage

<PageTitle>Diagrams</PageTitle>

<h1>Diagrams</h1>

@if (Model != null && Model.MonthlySavingsAverage > 0)
{
    <div class="alert alert-info" role="alert">
        Average monthly savings over @Model.Diagrams.Count months: <b>@Model.MonthlySavingsAverage.ToString("N2")</b>
    </div>
}

<div id="diagram-container">
    <p>No transactions loaded, cannot generate diagrams.</p>
</div>

@code {
    private string key = "transactions";
    private List<Transaction>? Transactions;
    private DiagramViewModel? Model;
    private Dictionary<int, Category>? Categories;

    /// <summary>
    /// Handles the component initialization event.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        Categories = (await Http.GetFromJsonAsync<List<Category>>("data/categories.json"))
            ?.ToDictionary(key => key.CategoryId, val => val);

        // Load stored transactions
        Transactions = await Storage.GetItemAsync<List<Transaction>>(key);

        // If there aren't any, initialize the storage
        if (Transactions == null)
        {
            await Storage.SetItemAsync<List<Transaction>>(key, new List<Transaction>());
            Transactions = await Storage.GetItemAsync<List<Transaction>>(key);
        }

        // If there are transactions loaded, generate the diagrams
        if (Transactions != null && Transactions.Any())
        {
            Model = Transactions.ToDiagramModel(Categories);
            await JsRuntime.InvokeAsync<bool>("RenderDiagrams", Model.Diagrams);
        }
    }
}